---
layout: layouts/home.njk
permalink: /til/
eleventyNavigation:
  key: TIL
  order: 2
---

<h1>Today I Learned</h1>
Borrowing from my friend <a href='joshbranchaud.com'>Josh Branchaud</a>, I've decided to make a daily(-ish) TIL post. I often pick up many little bits of useful knowledge day-to-day, write it down, and then never share it or process it for myself after that. Coming back to these learnings and writing a new, short post to explaim them helps me keep the knowledge fresh and contextual. I hope it might help you figure something out too.

{% set postslist = collections.til %}
{% include "postslist.njk" %}
